<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/inicio.css">
    <title>Inicio</title>
</head>
<body>
    <!-- Barra de Navegação -->
    <header>
        <nav>
            <ul>
                <li><a id="butt" href="#home">Consulta</a></li>
                <li><a href="#crimes"></a></li>
                <li><a id="butt"  href="#prevention">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!-- Chamada de usuários-->
    <div class="inicio">
        <h1>Seja Bem-Vindo ao melhor BANCO do BRASIL...</h1>
    </div>

    <!-- Main Content -->
    <div class="meio">
        <div class="cont" id="crimes">
            <a href="link_para_crimes.html"> <!-- Substitua "link_para_crimes.html" pelo seu link desejado -->
                <h2>Crimes Virtuais</h2>
                <p>Os crimes virtuais são crimes cometidos por meio da internet, ou seja, praticados por cibercriminosos...</p>
                <img src="imgs/cibercriminosos.jpg" alt="Cibercriminosos" class="imagens">
            </a>
        </div>
        
        <div class="cont">
            <a href="link_para_crimes.html">
            <h2>Roubo de Dados</h2>
            <p>O roubo é uma modalidade que teve grande crescimento na área de cibersegurança, sendo que os criminosos sequestram dados por meio de scripts maliciosos.</p>
            <img src="imgs/images.jpg" alt="Roubo de Dados" class="imagens">
            </a>     
        </div>

        <div class="cont" id="prevention">
            <a href="link_para_crimes.html">
            <h2>Como se Prevenir?</h2>
            <p>O processo de prevenção se inicia pela adoção de práticas seguras, como: ter senhas fortes, verificação em duas etapas e muito mais...</p>
            <img src="imgs/cadeado.jpg" alt="Prevenção" class="imagens">
            </a>
        </div>
    </div>
</body>
</html>
